version: '3.8'
services:
  app:
    image: app
    build:
      context: .
      dockerfile: Dockerfile.dev
    user: "node" 
    env_file:
      - .env.local
    environment:
      - NODE_ENV=development
      - NEXT_TELEMETRY_DISABLED=1
      - WATCHPACK_POLLING=true
      - CHOKIDAR_USEPOLLING=true
      - CHOKIDAR_INTERVAL=1000
    restart: always
    networks:
      - app_network
      - db_openportability_db_network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "3000:3000"
    volumes:
      - ./:/app
      - /app/node_modules
      # - /app/.next
      - shared-tmp:/app/tmp
      - app_logs:/app/logs
    depends_on:
      - worker

  worker:
    image: worker
    build:
      context: ./worker
      dockerfile: Dockerfile.dev
    user: "1000:1000"
    volumes:
      - ./worker:/app
      - /app/node_modules
      - shared-tmp:/app/tmp
      - app_logs:/app/logs
    env_file:
      - ./worker/.env
    environment:
      - NODE_ENV=development
      - NEXT_TELEMETRY_DISABLED=1
      - WATCHPACK_POLLING=true
      - CHOKIDAR_USEPOLLING=true
    networks:
      - app_network
      - db_openportability_db_network
    extra_hosts:
      - "host.docker.internal:host-gateway"

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/certs:/etc/nginx/certs:ro
      - ./nginx/auth:/etc/nginx/auth:ro
    depends_on:
      - app
    networks:
      - app_network
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"

networks:
  app_network:
    driver: bridge
  db_openportability_db_network:
    external: true
    name: db_openportability_db_network

volumes:
  shared-tmp:
    driver: local
    driver_opts:
      type: tmpfs
      device: tmpfs
      o: "noexec,uid=1000,gid=1000,mode=0775"
  app_logs:
    driver: local
    driver_opts:
      type: none
      device: /home/ubuntu/openportability_logs
      o: "bind,noexec"