@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SyneTactile';
  src: url('/fonts/SyneTactile-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --font-space-grotesk: 'Space Grotesk', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.font-space-grotesk {
  font-family: var(--font-space-grotesk);
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

/* Animation de mise en évidence pour la section de support personnalisé */
@keyframes highlight-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(214, 53, 111, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(214, 53, 111, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(214, 53, 111, 0);
  }
}

.highlight-animation {
  animation: highlight-pulse 1s ease-in-out 3;
}
